<div class="jumbotron">
	<div class="container">
		<h1>Welcome!</h1>
		<p>The Crowd Rank is a website for power ranking nerds of every sporting persuasion.  Rank the leauges you follow and track the ratings of friends and pundits to answer the question of who's the consensus favorite (or flop).</p>
		<p>The Crowd Rank is in development, so feel free to explore existing features, but <strong>any submitted data may be lost</strong>.  To see ratings, check out your favorite league above and sign up to rank.</p>
	</div>
</div>