<div class="jumbotron">
	<div class="container">
		<h1>Welcome!</h1>
		<p>The Crowd Rank is a website for power ranking nerds of every sporting persuasion.  Rank the leauges you follow, track the ratings of friends and pundits, and answer the question of who's the consensus favorite (or flop).</p>
		<p>The Crowd Rank is in its infancy and will be adding features continuously.  To explore ratings, check out your favorite league above and sign up to rank</p>
	</div>
</div>