<h2><%= @team_group.full_name %></h2>

<% if user_signed_in? %>
	<%= button_to "Rank", new_user_ranking_path(current_user.id), :method => "get", class: "btn btn-large btn-success text-right" %>
<% end %>