<% if user_signed_in? %>
<%= @team_group.short_name %>
<% else %>
<h1> not signed in </hi>
<% end %>

<ul id="teams" class="span4">
	<% @team_group.teams.each do |t| %>
		<li class="ui-state-default small-well"
				id="team_id_<%= t.id %>"><%= t.nickname %></li>
	<% end %>
</ul>

<script>
	$(function() {
		console.log("YO")

		$("#teams").sortable({
			cancel: ".ui-state-disabled"
		});
	});
</script>