// Place all the styles related to the TeamGroup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movers {
 	background-color: #ffffff;
 	display: table;
 	width: 100%;
}

.mover {
	font-size: 115%;
	display: table-cell;
	text-align: center
}